body
{
	background:url("../images/gand.jpg") fixed;
	background-repeat:no-repeat;
	background-size:cover;
	padding:0;
	margin:0;
}

div
{
	margin-left:10%;
	margin-top:5%;
}
img
{
	border-style:solid;
	border-width:1%;
	margin-right:1.5%;
}
img:hover
{
	border-style:solid;
	border-width:1%;
	border-color:white;
}

a
{
	text-decoration: none;
	color:black;
}

header
{
	margin:0%;
	padding:1.5%;
	padding-top:1.8%;
	background: url("../images/header.png");
	background-size: cover;
	border-bottom:solid;
	border-color:silver;
}

.header
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:2%;
	margin-left:2%;
}

.header:hover
{
	text-decoration: underline;
}
