html
{
	background: url("../images/stock.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}
.cv
{
	background-color:black;

	opacity:0.75;

	margin-left:12%;
	margin-right:23%;
	margin-bottom:20%;
	padding-top:1%;
	padding-bottom:7%;
	padding-left:5%;
	color:white;
	font-size:110%;
	border-style:solid;
	border-width:1%;
	border-color:silver;
}
.nom
{
	background-color:rgb(54,0,0);
	color:white;
	opacity:0.8;
	margin-left:12%;
	margin-top:5%;
	margin-right:23%;
	margin-bottom:1%;
	padding-left:23%;
	padding-bottom:1%;
	padding-top:0.2%;
	border-style:solid;
	border-width:1%;
	border-color:black;
}
#presentation
{
	float:right;
	background:black;
	opacity:0.80;
	color:white;
	margin-top:5%;
	margin-right:4%;
	padding-left:;
	border-style:solid;
	border-width:1%;
	border-color:rgb(54,0,0);
	text-align:justify;
	font-style:italic;
	font-size:80%;
}
p
{
	padding-left:6%;
}
em
{
	font-style:italic;
}
h1
{
	/*border-top:1px solid white;
	border-bottom:1px solid white;
	border-right:1px solid white;
	border-left:1px solid white;
	text-shadow:1px 1px 1px silver;
	border-radius:1px;*/
}
h2
{
	text-decoration:underline;
}

h1,h2
{
	
}

#spec
{
	font-style:italic;
}

ul
{
	
}



header
{
	margin:-0.5%;
	padding:2%;
	background: url("../images/header.png");
	background-size: cover;
	border-bottom: solid;
	border-color: silver;
}



a
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:2%;
	margin-left:2%;
}

a:hover
{
	text-decoration:underline;
}



















