body
{
	background:url("../images/bastienback.png") ;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;

}
header
{
	margin:-0.5%;
	padding:2%;
	background: url("../images/header.png");
	background-size: cover;
	color:white;
	border-bottom: solid;
	border-color: silver;
}

form
{
	color:white;
	opacity:0.70;
	margin-left:28%;
	margin-top:6%;
	margin-bottom:;
}

h2
{
	background:rgb(54,0,0);
	margin-bottom:-1.2%;
	margin-right:39%;
	padding:0.5%;
	margin-top:-1%;
	font-size:170%;
	font-style: italic;
	padding-left:5%;
	border-style:solid;
	border-color:black;
	border-width:50%;
}

p
{
	background:black;
	margin-right:39%;
	margin-bottom:3%;
	padding:1%;
	font-size:110%;
	padding-left:22%;
	border-style:solid;
	border-color:silver;
	border-width:50%;
}

input[type=submit]
{
	margin-left:23%;
	width: 10%;
	height: 10%;
	padding-bottom:2%;
	padding-top:2%;
	padding-right:2%;
	padding-left:1.2%;
	font-weight:bold;
	font-size:105%;
	color:silver;
	background-color: black;
}

input[type=submit]:hover
{
	border-color:red;
	color:white;
}
a
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:2%;
	margin-left:2%;
}
a:hover
{
	text-decoration:underline;
}









