body
{
	background:url("../images/seigneur_anneaux2.jpg") fixed ;
	background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;
}

p
{
	padding:1%;
	padding-left:2%;
	margin-left:48%;
	margin-top:20%;
	margin-right:27%;
	color:black;
	font-weight:bold;
	font-size:250%;
	border-style:solid;
	border-color:#009999;
	text-decoration:none;
	text-align: center;
}
a:link
{
    text-decoration: none;
}

p:hover
{
	opacity:0.80;
	border-color:green;
}
header
{
	margin:-0.5%;
	padding:2%;
	background: url("../images/header.png");
	background-size: cover;
	color:white;
	border-bottom: solid;
	border-color: silver;
}
a
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:2%;
	margin-left:2%;
}
a:hover
{
	text-decoration:underline;
}

