body
{
	background:url("../images/gol.jpg");
	background-size:cover;
}

p
{
	padding:1%;
	padding-left:2%;
	margin-left:55%;
	margin-top:20%;
	margin-right:20%;
	color:white;
	font-weight:bold;
	font-size:250%;
	border-style:solid;
	border-color:white;
	text-decoration:none;
}
a:link
{
    text-decoration: none;
}

p:hover
{
	opacity:0.80;
	border-color:green;
}
