body
{
	background:url("../images/backgroundQuest.jpg");
	background-size:cover;
}

p
{
	padding:1%;
	padding-left:2%;
	margin-left:38%;
	margin-top:5%;
	margin-right:39%;
	color:white;
	font-weight:bold;
	font-size:250%;
	border-style:solid;
	border-color:white;
	text-decoration:none;
}
a:link
{
    text-decoration: none;
}

p:hover
{
	opacity:0.80;
	border-color:red;
}


h1
{
	margin-left:44%;
	margin-top: 15%;
	font-size: 250%;
	color: white;
}
