body
{
	background:url("../images/seigneur_anneaux2.jpg") fixed ;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;

}
header
{
	margin:-0.5%;
	padding:2%;
	background: url("../images/header.png");
	background-size: cover;
	color:white;
	border-bottom: solid;
	border-color: silver;
}
form
{
	color:white;
	opacity:0.75;
	margin-left:28%;
	margin-top:6%;
	margin-bottom:;
}
h2
{
	background-color:#009999;
	color : #330033;
	margin-bottom:-1.2%;
	margin-right:39%;
	padding:0.5%;
	margin-top:-1%;
	font-size:170%;
	font-style: italic;
	text-align : center;
	border-style:solid;
	border-color:black;
	border-width:50%;
}
p
{
	background:black;
	margin-right:39%;
	margin-bottom:3%;
	padding:1%;
	font-size:110%;
	padding-left:27%;
	border-style:solid;
	border-color:#009999;
	border-width:50%;
	text-align : justify;
}
#quest
{
	background:black;
	margin-right:39%;
	margin-bottom:3%;
	padding:1%;
	font-size:110%;
	padding-left:16%;
	border-style:solid;
	border-color:#009999;
	border-width:50%;
	text-align : justify;
}
input[type=submit]
{
	margin-left:26%;
	width: 10%;
	height: 10%;
	padding-bottom:2%;
	padding-top:2%;
	padding-right:2%;
	padding-left:1.8%;
	font-weight:bold;
	font-size:105%;
	color:#330033;
	background-color: #009999;
}
input[type=submit]:hover
{
	border-color:red;
	color:white;
}
a
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:2%;
	margin-left:2%;
}
a:hover
{
	text-decoration:underline;
}

