body
{
	background:url("../images/backgroundQuest.png") ;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;

}
header
{
	margin:-0.5%;
	padding:2%;
	background: url("../images/header.png");
	background-size: cover;
	color:white;
	border-bottom: solid;
	border-color: silver;
}

form
{
	color:white;
	opacity:0.70;
	margin-left:28%;
	margin-top:6%;
	margin-bottom:;
}

h2
{
	background-color:white;
	color:black;
	margin-bottom:-1.2%;
	margin-right:39%;
	padding:0.5%;
	margin-top:-1%;
	font-size:150%;
	font-style: italic;
	padding-left:3%;
	border-style:solid;
	border-color:black;
	border-width:50%;
}

p
{
	background:black;
	margin-right:39%;
	margin-bottom:3%;
	padding:1%;
	font-size:110%;
	padding-left:25%;
	border-style:solid;
	border-color:silver;
	border-width:50%;
}

#Pres
{
	padding:1%;
	padding-left:2%;
	margin-left:55%;
	margin-top:20%;
	margin-right:20%;
	color:white;
	font-weight:bold;
	font-size:250%;
	border-style:solid;
	border-color:white;
	text-decoration:none;
}

#Pres:hover
{
	opacity:0.80;
	border-color:green;
}
	

input[type=submit]
{
	margin-left:24%;
	width: 10%;
	height: 10%;
	padding:1%;
	font-weight:bold;
	font-size:105%;
	color:black;
	background-color: white;
}

input[type=submit]:hover
{
	border-color:red;
	color:black;
}
a
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:2%;
	margin-left:2%;
}
a:hover
{
	text-decoration:underline;
}







