
ul
{
	color: white;
	font-size: 100%;
}

h1,h2,h3
{
	color: silver;
	font-size: 125%;
}
header
{
	margin:0%;
	padding:1.5%;
	padding-top:2%;
	background: url(../images/header.png);
	background-size: cover;
	border-bottom: solid;
	border-color: silver;
}

#image
{
	float: right;
	margin-right:10%;
	opacity: 0.85;
	
}

#CV 
{
	margin-left:10%;
	margin-right:40%;
	background-color: #000000;
	opacity: 0.65;
	padding: 2%;
}

#text
{
	margin-left:10%;
	margin-bottom:2%;
	margin-right: 40%;
	margin-top: 3%;
	padding-left: 15%;
	background-color:black;
	opacity: 0.60;
}

a
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:3%;
	margin-left:2%;
}

a:hover
{
	text-decoration:underline;
}

body
{
	margin:0;
	padding:0;
	background: url(../images/background3.jpg) fixed;
	background-size: cover;
	opacity: 0.80;
}
