body
{
	background : url("../images/fond4.jpeg") fixed ;
	background-size:cover;
	text-align : r;
	margin-bottom:;
}

ul
{
	color : black;
	font-size : 16px;
}
h2,h3
{
	color : #990000;
}
h2
{
	font-size : 32px;
	width : 32%;
	background-color : white;
	opacity : 0.70;
	margin-left : 34%;
	padding : 1%;
	border-style : solid;
	border-color : black;
	border-width : 1%;
	text-align : center;
}
h3
{
	font-size : 22px;
	font-style : italic;
}
#texte
{
	width : 32%;
	height : 80%;
	background-color : white;
	opacity : 0.70;
	margin-left : 34%;
	padding-top : 1%;
	padding-bottom : 1%;
	padding-left : 0.8%;
	padding-right : 1.5%;
	border-style : solid;
	border-color : black;
	border-width : 1%;
	text-align : center;
}
#image
{
	float : left;
	opacity : 0.90;
	margin-left : 8%;
	padding-bottom:-1%;
}
a
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:2%;
	margin-left:2%;
}
a:hover
{
	text-decoration: underline;
}
header
{
	margin:-0.5%;
	padding:1.5%;
	padding-top:1.8%;
	background: url("../images/header.png");
	background-size: cover;
	border-bottom: solid;
	border-color: silver;
}


