body
{
	background:url("../images/bastienback.png") ;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;

}
header
{
	margin:-0.40%;
	padding:2%;
	background: url("../images/header.png");
	background-size: cover;
	color:white;
	border-bottom: solid;
	border-color: silver;
}

a
{
	text-decoration: none;
   	color: white;
	font-size:125%;
	margin-right:2%;
	margin-left:2%;
}
a:hover
{
	text-decoration:underline;
}


h1
{
	font-size: 140%;
	color:white;
	margin-left:34%;
	margin-right: 38%;
	margin-top: 2%;
	padding: 1%;
	padding-left: 1.5%;
	background-color: black;
	opacity: 0.65;
	border-style:solid;
	border-color: white;
}

#Part1
{
	font-size: 140%;
	float:left;
	margin: 3% 4%;
	max-width: 750px;
	max-height: 562px;
	background-color: white;
	opacity: 0.75;
	padding: 1%;
	overflow:auto;
	text-align: justify;
	border-style:solid;
	border-color: black;
	border-width: 4px;

}

#Part2
{
	font-size: 140%;
	margin: 3% 3.5%;
	max-width: 750px;
	max-height: 562px;
	padding: 1%;
	background-color: black;
	opacity: 0.75;
	overflow: auto;
	text-align: justify;
	float:left;
	color:silver;
	border-style:solid;
	border-color: white;
}

h2
{
	padding-left: 38%;
	font-family: "Times New Roman";
	font-size: 150%;
}
